.title {
    color: #333333;
    font-size: 16px;
    margin-bottom: 8px;
}
.img_1 {
    margin: 0 auto;
    width: 96%;
    height: 12px;
    background-image: url(../img/tj_15.png);
    background-repeat: no-repeat;
    margin-bottom: 8px;
}
.archives_flowchart {
    background-image: url(../img/flowchart.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    margin: 0 auto;
    height: 320px;
}